.table {
  text-align: left;
  width: 100%;
  margin-bottom: 16px;
}

.table tr td:last-child {
  text-align: right;
}

.newContactFields {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
